.navbar {
  color: white;
  width: 100vw;
  height:80px;
  background: #1A2C80;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-items: start;
  justify-content: space-between;
  padding: 19px 54px 19px 54px;
  z-index: 0;

  margin-inline: auto;
}

.create-button {
  cursor: pointer;
}

.linkcontainer {
  font-size: 20px;
  position: relative;
  width: 100px;
  background: rgba(255, 255, 255, 0);
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  grid-column: 3;
  grid-row: 1;
}

p {
  cursor: pointer;
}

.login {
  grid-column: 4;
  grid-row: 1;
  align-self: center;
  font-size: 20px;
  color: white
}

.home {
  position: relative;
  width: 100px;
  height: 35px;
  flex-shrink: 0;
  margin-bottom: 5px;
}

.title {
  margin: 0;
  align-items: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.2;
  width: 502px;
  height: 45px;
  align-self: center;
  grid-column: 1;
  grid-row: 1;
}

.searchbar {
  padding-left:30px;
  font-size: 20px;
  color: black;
  border-radius: 29px;
  height: 56px;
  background-color: white;
  position: relative;
  width: 100%;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  grid-column: 2;
  grid-row: 1;
}

.radio {
  margin-left: 20px;
  grid-column: 2;
  grid-row: 1;
  justify-content: space-between;
}

.dropdown {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  border: 1px solid black;
  z-index: 2;
}

.pointer {
  cursor: pointer;
}