.navbar {
  color: white;
  height:80px;
  background: #29274d;
  display: flex;
  align-items: center;
  justify-items: start;
  justify-content: space-between;
  padding: 19px 35px 19px 35px;
  z-index: 0;
  /* gap: 10px; */
  margin-inline: auto;
}

.create-button {
  cursor: pointer;
}

.linkcontainer {
  font-size: 20px;
  position: relative;
  width: fit-content;
  background: rgba(255, 255, 255, 0);
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: space-between;
  gap: 10px;
  flex-basis: 30%;
}

p {
  cursor: pointer;
}

.login {
  grid-column: 4;
  grid-row: 1;
  align-self: center;
  font-size: 20px;
  color: white
}

.home {
  position: relative;
  width: 100px;
  height: 35px;
  flex-shrink: 0;
  margin-bottom: 5px;
}

.title {
  margin: 0;
  align-items: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.2;
  width: fit-content;
  height: 45px;
  align-self: center;
  grid-column: 1;
  grid-row: 1;
}

.searchbar {
  padding-left:30px;
  font-size: 20px;
  color: black;
  border-radius: 29px;
  height: 56px;
  background-color: white;
  position: relative;
  width: 100%;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  grid-column: 2;
  grid-row: 1;
}



/* .dropdown {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  border: 1px solid black;
  z-index: 2;
} */

.pointer {
  cursor: pointer;
}
/*/////////////////Category Select/////////////////////*/

.category-select {
  height: 50%;
  width: fit-content;
  background-color: #17162c;
  border-radius: 50px;
  text-align: center;
  padding-right: 20px;
}

.category-select label {
  width: 100%;
  margin: 0;
  border-radius: 50px;
  text-align: center;
  display: inline-block;
  height: 100%;
  align-content: center;
  padding-inline: 10px;
}

.radio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}


.selection {
  height: 100%;
  align-items: center;
  align-content: center;
}

.category-select input:checked ~ label{
  color: white;
  background-color: rgb(67, 43, 112);
  box-shadow: inset 3px 3px 4px 0px rgba(255, 255, 255, 0.13);
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
}

input {
  appearance: none;
  display: none;
}

.inner-block {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

/*//////////////////Dropdown//////////////////*/
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: inherit;
  font-weight: inherit;
  border: none;
  background: none;
  text-transform: none;
  padding: 0;
}

.dropbtn:hover {
  transform: none;
}


/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}