.navbar {
  color: white;
  width: 75vw;
  background: #1A2C80;
  border-radius: 22px;
  box-shadow: inset 5px 5px 9px 0px #FFFFFF, 15px 15px 8px 0px rgba(0, 0, 0, 0.3);
  /* overflow: hidden; */
  display: grid;
  align-items: start;
  align-content: stretch;
  justify-items: start;
  justify-content: stretch;
  padding: 19px 54px 19px 54px;
  z-index: 0;
  flex-grow: 1;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.linkcontainer {
  font-size: 20px;
  position: relative;
  width: 100%;
  background: rgba(255, 255, 255, 0);
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  grid-column: 2;
  grid-row: 1;
}

.hamburger {
  position: relative;
  width: 100px;
  height: 41.5px;
  flex-shrink: 0;
}

.title {
  margin: 0;
  align-items: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.2;
  width: 502px;
  height: 39px;
  align-self: center;
  grid-column: 1;
  grid-row: 2;
}

.searchbar {
  padding-left:30px;
  font-size: 20px;
  color: black;
  border-radius: 29px;
  height: 56px;
  background-color: white;
  position: relative;
  width: 100%;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  grid-column: 2;
  grid-row: 2;
}

.dropdown {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  border: 1px solid black;
  z-index: 2;
}