.remove-button {
    margin-left: 3px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: x-large;
    padding: 2px 10px;
}

.file-list-wrapper {
    display: flex;
    flex-direction: column;
    border: 5px;
    border-color: black;
    gap: 2px;
    /* background-color: black; */
}

input {
    font-size: large;
    padding-inline: 15px;
    border-radius: 10px;
}

.file-line input {
    width: 20vw;
}

.file-line {
    /* background-color: black; */
    display: flex;

}

.file-p {
    background-color: rgb(196, 173, 240);
    padding: 3px;
    margin: 0;
}