.satellite-container {
  align-self: center;
  margin-top: 3%;
  padding-right: 20px;
  margin-inline: auto;
  height: auto;
  width: 50vw;
  background: #1A2C80;
  border: 1px solid #000000;
  border-radius: 34px;
  box-shadow: inset 5px 5px 9px 0px #FFFFFF, 15px 15px 8px 0px rgba(0, 0, 0, 0.3);
  /* overflow: hidden; */
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-items: start;
  justify-content: center;
  padding: 75px 75px 75px 75px;
  z-index: 0;
  /* flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1; */
  /* margin: auto; */
}
