.satellite-container {
  align-self: center;
  margin-top: 3%;
  margin-inline: auto;
  height: auto;
  width: 50vw;
  background: rgb(245, 246, 255);
  border-radius: 34px;
  box-shadow: inset 5px 5px 9px 0px #FFFFFF, 15px 15px 8px 0px rgba(0, 0, 0, 0.3);
  /* overflow: hidden; */
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-items: start;
  justify-content: center;
  padding: 75px 75px 75px 75px;
  z-index: 0;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
  text-align: center;
  gap: 10px;
  /* flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1; */
  /* margin: auto; */
}

.content-wrapper {
  position: relative; /* Set position to relative */
  width: 100%; /* Take up full width of the satellite container */
}

.table-mess {
  width: 100%; /* Make the table width 100% of its container */
  border-collapse: collapse; /* Collapse table borders */
  table-layout: fixed; /* Fixed table layout */
}

.tadaa {
  padding: 10px; /* Add padding to table cells */
  border: 1px solid black; /* Add borders to table cells */
  max-width: 25%; /* Limit maximum width of table cells */
  /* word-wrap: break-word; Wrap long words */
  white-space: pre-wrap;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.tada {
  background-color: #4a478a;
  color: white; /* Set text color for table header */
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Alternate row background color */
}

.pagebutton{
  margin: 10px;
}

