.paralax-div {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.background-sky {
  background-image: url('./background.png');
  position: absolute;
  width: 1920px;
  height: 2750px;
  z-index: 0;
}

/* .moon {
  background-repeat:no-repeat;
  background-position: top;
  width: 10vw;
  height: 20vh;
  position: absolute;
  z-index: 0;
} */


/* .midground {
  background-repeat:no-repeat;
  background-position: bottom;
  width: 100vw;
  height: 100vh;
  position: absolute;
  bottom:0;
  z-index: 1;
} */

.foreground {
  background-image: url('./foreground.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 300px;
  z-index: 2;
}


/* .background-sky {
  background-image: url('./background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 2900px;
  position: relative;
  z-index: -1;
} */

/* .moon {
  background-image: url('./moon.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 10vw;
  height: 20vh;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
} */

/* .midground {
  background-image: url('./midground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
} */

/* .foreground {
  background-image: url('./foreground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
} */