.groundtrack-container {
  /* position: relative; */
  color: black;
  height: 70vh;
  background: rgb(232, 221, 252);
  border: 1px solid #000000;
  border-radius: 34px;
  box-shadow: inset 5px 5px 9px 0px #FFFFFF, 15px 15px 8px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  /* align-items: start; */
  /* justify-content: center; */
  z-index: 0;
  /* margin: auto; */
}

.prop-container{
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
align-content: center;
justify-content: center;
}

.assessment-container form {
  align-items: center;
  display: flex;
  gap: 5px;
}

.prop-text {
  text-align: center;
  font-size: 30px;
  color: black;
  width: fit-content;
}

.prop-input {
margin-left: 7px;
margin-right: 7px;
min-height: 25px;
max-height: 40px;
font-size: large;
}

.map-container{
  padding-bottom: 20px;
}

.map-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}