.groundtrack-container {
  position: relative;
  align-self: center;
  margin-top: 3%;
  color: black;
  padding-right: 20%;
  margin-inline: auto;
  height: auto;
  max-width: 70vw;
  background: rgb(232, 221, 252);
  border: 1px solid #000000;
  border-radius: 34px;
  box-shadow: inset 5px 5px 9px 0px #FFFFFF, 15px 15px 8px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 5%;
  z-index: 0;
  /* margin: auto; */
}

.groundtrack-button{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 20vw;
  height: 6vh;
  border-radius: 30px;
  flex-shrink: 0;
  margin-left: 115px;
  cursor: pointer;
  /* color: rgba(255, 255, 255, 1); */
}

.submit-button{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 20vw;
  height: 4vh;
  border-radius: 30px;
  flex-shrink: 0;
  margin-left: 35%;
  /* color: rgba(255, 255, 255, 1); */
}

.prop-container{
margin-bottom: 30px;
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
align-content: center;
justify-content: center;
}

.prop-text {
  text-align: center;
  font-size: 30px;
  color: black;
}

.prop-input {
margin-left: 7px;
margin-right: 7px;
min-height: 25px;
max-height: 40px;
font-size: large;
}

.map-container{
  padding-bottom: 20px;
}
