.groundtrack-container {
  align-self: center;
  margin-top: 30px;
  margin-left: 300px;
  margin-bottom:30px;
  height: auto;
  width: 50vw;
  background: #1A2C80;
  border: 1px solid #000000;
  border-radius: 34px;
  box-shadow: inset 5px 5px 9px 0px #FFFFFF, 15px 15px 8px 0px rgba(0, 0, 0, 0.3);
  /* overflow: hidden; */
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-items: start;
  justify-content: center;
  padding: 75px 75px 75px 75px;
  z-index: 3;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
  /* margin: auto; */
}

.groundtrack-button{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 20vw;
  height: 6vh;
  border-radius: 30px;
  flex-shrink: 0;
  margin-left: 55px;
  /* color: rgba(255, 255, 255, 1); */
}

.submit-button{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 20vw;
  height: 4vh;
  border-radius: 30px;
  flex-shrink: 0;
  margin-left: 220px;
  /* color: rgba(255, 255, 255, 1); */
}

.prop-container{
margin-bottom: 30px;
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
align-content: center;
justify-content: center;
}

.prop-text {
  text-align: center;
  font-size: 30px;
  color: white;
}

.prop-input {
margin-left: 7px;
margin-right: 7px;
min-height: 25px;
max-height: 40px;
font-size: large;
}

.map-container{
  padding-bottom: 20px;
}
