/* body, h1, h2, p, div, span, li, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #041119;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
}

h1 {
    text-transform: uppercase;
} */

/* .tracker-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
} */


.SearchBox {
    border: none;
    border-bottom: 2px solid white;
    background-color: white;
    font-size: 2em;
    outline: none;
    width: 400px;
    margin: 10px;
}

.Result {
    margin: 3px 6px 3px 0;
    border: 1px solid rgba(102, 113, 136, 0.39);
    border-left: 3px solid #ffbfa3;
    background-color: rgba(48, 67, 104, 0.5);
    border-top-right-radius: 10px;
    padding: 4px 10px;
    width: 125px;
    height: 20px;
    font-size: small;
    cursor: pointer;
    white-space: nowrap;
    background-color: white;
    align-items: center;
    align-content: center;
}


.RemoveButton {
    float: right;
    cursor: pointer;
}

.SmallButton {
    cursor: pointer;
    font-size: 0.8em;
}

/* .Highlights {
    text-align: center;
}

.ResultsWrapper {
    margin-top: 10px;
    position:relative;
    z-index:10;
    height: 300px;
    width: 500px;
    overflow-y: scroll;
} */

/* @media only screen and (max-width: 999px) {
    .Info {
        position: absolute;
        top: 10px;
        left: 10px;
    }
    
    .Search {
        display: flex;
        flex-flow: column;
        justify-items: left;
        align-items: left;
        justify-content: left;
        align-content: left;
    }
        
    .Selected {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        width: 120px;
    }

    .Highlights {
        position: absolute;
        bottom: 10px;
        width: 100%;
    }

    .Hint { font-size: 0.9em;}
    .Highlight { font-size: 3em;}

    .ResultsWrapper {
        max-height: 30vh;
        overflow-y: scroll;
        width: 30px;
    }
} */

/* @media screen and (min-width: 1000px) { */

    
    .Search {
        max-height: 50px;
        margin: 10px;
        width: 100%;
    }
        
    .Selected {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: right;
        align-items: right;
        width: 100%;
        max-height: 300px;
    }
    
    .Highlights {
        position: absolute;
        top: 10px;
        width: 100%;

    }

    .Hint { font-size: 0.9em;}
    .Highlight { font-size: 3em;}
       
    .ResultsWrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        max-height: 10vh;
        width: 100%;
        position: relative;
        z-index: 99;
        max-height: 500px;
        
    }
/* } */