
.SearchBox {
    height: 2vw;
    margin-top: 10px;
}

.Result {
    display:flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin: 3px 6px 3px 0;
    border: 1px solid rgba(102, 113, 136, 0.39);
    border-left: 3px solid #ffbfa3;
    background-color: white;
    border-top-right-radius: 10px;
    width: 110px;
    height: 30px;
    font-size: small;
    cursor: pointer;
    overflow: hidden;
}


.RemoveButton {
    float: right;
    cursor: pointer;
}

.SmallButton {
    cursor: pointer;
    font-size: 0.8em;
}

/* .Highlights {
    text-align: center;
} */


/* @media only screen and (max-width: 999px) {
    .Info {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .Search {
        position: absolute;
        top: 60px;
        left: 10px;
        width: 120px
    }

    .Selected {
        position: absolute;
        right: 10px;
        top: 40px;
        width: 120px;
    }

    .Highlights {
        position: absolute;
        bottom: 10px;
        width: 100%;
    }

    .Hint { font-size: 0.9em;}
    .Highlight { font-size: 3em;}

    .ResultsWrapper {
        max-height: 80vh;
        overflow: hidden;
        width: 150px;
    }
}

@media screen and (min-width: 1000px) { */


    .Search {
        max-width: 100px;
        max-height: 100px;
        overflow: hide;
        margin-top: 10px;
        gap: 15px;
    }

    .Selected {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        gap: 15px;
    }

    /* .Highlights {
        position: absolute;
        top: 10px;
        width: 100%;
    }

    .Hint { font-size: 0.9em;}
    .Highlight { font-size: 3em;} */

    .ResultsWrapper {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        height: 60vh;
        max-width: 100%;
        max-height: 35px;
        gap: 15px;
    }

.firstsection{
    display: flex;
}

.extras{
    display:flex;
    flex-flow: column;
}

.environment{
    display:flex;
    flex-flow:row;
}