.result-header {
  font-size: 50px;
  color: #4a478a;
  margin: 20px;
  text-align: center;
}

.results-container {
  align-self: center;
  /* margin-bottom: 30px; */
  height: auto;
  width: 90%;
  max-width: 800px;
  background: rgb(232, 221, 252);
  border: 1px solid #000000;
  border-radius: 34px;
  box-shadow: inset 5px 5px 9px 0px #FFFFFF, 15px 15px 8px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 5vw;
  z-index: 0;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
  position: center;
}

.results-container FilterButton{
  color: black;
}
.column-labels {
  background-color: purple;
  color: white;
  padding: 10px;
}

.results-container table {
  border-collapse: collapse;
  width: 100%;
}

.results-container th,
.results-container td {
  border-bottom: 1px solid #000;
  padding: 8px;
}

.results-container th {
  background-color: #f2f2f2
}
