.assessment-container {
  width: 50%;
}


.searchbar {
  padding-left:30px;
  font-size: 20px;
  color: black;
  border-radius: 29px;
  min-height: 56px;
  max-height: 56px;
  background-color: white;
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.searchbar2 {
  padding-left:30px;
  font-size: 20px;
  color: black;
  border-radius: 29px;
  min-height: 40px;
  max-height: 56px;
  background-color: white;
  position: relative;
  width: 300%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.login-text {
  font-size: 30px;
  color: #4a478a;
}

.login-text-header {
  font-size: 50px;
  color: #4a478a;
  margin: auto
}

.create-text-header {
  font-size: 40px;
  color: #4a478a;
  margin: auto
}
/* .button-container{
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
} */

.login-button{
  font-size: 20px;
  width: 15vw;
  height: 6vh;
  border-radius: 30px;
  flex-shrink: 0;
  align-self: center;
  /* color: rgba(255, 255, 255, 1); */
}


.valid {
  color: green;
}

.invalid {
  color: red;
}

.password-param {
color: #4a478a;
}